

{% block title %}Hello PanierController!{% endblock %}
<link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
<link rel="stylesheet" href="/css/app.css">


{% block body %}
    <div>
        <h1>Votre panier</h1>
    </div>
    {% if items| length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Taille</th>
                <th>Total</th>
                <th></th>

            </tr>
            </thead>
            <tbody>
            {% for item in items%}
                <tr>
                    <td>{{ item.chaussure.nom }}</td>
                    <td>{{ item.chaussure.prix}}</td>

                    <td>{{ item.quantite}}</td>
                    <td>{{ item.taille}}</td>
                    <td>{{ item.chaussure.prix * item.quantite }}</td>
                    <td>
                        <a href="{{ path('panier_remove',{'id':item.chaussure.id}) }}" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i>
                        </a> </td>
                    <td>
                        <a href="{{ path('panier_add',{'id':item.chaussure.id}) }}" class="btn btn-outline-success btn-sm">
                            <i>augmenter</i>
                        </a> </td>

                    <td>
                        <a href="{{ path('panier_diminuer',{'id':item.chaussure.id}) }}" class="btn btn-outline-danger">
                            <i>diminuer</i>
                        </a> </td>
                </tr>


            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td>{{ total }}</td>
                <td></td>
            </tr>
            </tfoot>

        </table>

            <script src="https://js.stripe.com/v3/"></script>
            <form action="{{ path('checkout') }}" method="POST">
                <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_51HAAleJZeTjJHZS4HHWaGMPpqAUpRyBSKmQEJZ0yz32ptsq0UP1YmAYvcuwg1UsFsmdOGtaXDXQ0Wn89clG19KQh00WXjUQ6W2"
                        data-amount="999"
                        data-name="Demo Site"
                        data-description="Widget"
                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                        data-locale="auto"
                        data-currency="eur">
                </script>
            </form>


        <a href="commande" class="btn btn-success float-right"><i class="fa fa-euro"></i> payer!</a>
    {% else %}
        <p>Surprise c'est vide</p>
    {% endif %}
    <a href="{{ path('home') }}" class="btn btn-success align-self-center"><i class="fas fa-home"></i> Accueil!</a>
    <script src="https://js.stripe.com/v3/"></script>


    {% block javascripts %}
        <script data-search-pseudo-elements defer src="https://kit.fontawesome.com/2e75c5cb4f.js"></script>
        <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>

    <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
    <script src="https://bootswatch.com/_vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://bootswatch.com/_assets/js/custom.js"></script>

    </html>
    {% endblock %}

{% endblock %}
