{% extends 'base.html.twig' %}
{% block title %}Vos commandes passées et à venir{% endblock %}
{% block body %}
<div class="container">
    <h1>Mes Commandes</h1>
    <div class="alert alert-info mt-5">
        <p>Retrouvez ci-dessous toutes vos reservations  passées et à venir</p>
    </div>
    {% for commande in app.user.commandes %}
    {% set modeleChaussures=commande.modeleChaussures %}
    <div class="row mt-5">
        <div class="col-4">

        </div>
        <div class="col-8">
            <h4>{{ chaussure.nom }}</h4>
            <p>
                Commande <strong>n°{{ commande.id }}</strong><br>
                Du {{ commande.dateCommande|date('d/m/Y')}} ({{ commande.montantLigne }} &euro;)
            </p>
            <a href="{{ path('commande_show',{id:commande.id}) }}" class="btn btn-info">Plus d'informations</a>
        </div>
    </div>
</div>
    {% endfor %}
{% endblock %}