{% extends 'base.html.twig' %}
{% block title %}Chaussures!{% endblock %}

{% block body %}
    <h1 class="my-3">liste des chaussures</h1>
    {#}% for modeleChaussure in chaussures %}
    <a href="/detail/chaussure/{{modeleChaussure.id}}">{{modeleChaussure.nom}}</a><br/>
    {% endfor %}


{% endblock %#}
<div class="row">
{% for modeleChaussure in chaussures %}
    <div class="col-md-4">
        <div class="card-header text-center">
            <a href="/detail/chaussure/{{ modeleChaussure.id }}">{{ modeleChaussure.nom }}  </a>, <strong>{{ modeleChaussure.prix }}&euro;</strong><br>
            <small>pas encore noté</small>
        </div>
        <a href="{{ path('detail_chaussure',{'id':modeleChaussure.id}) }}">
            <img src="/img/{{ modeleChaussure.coverImage }}" alt="Image de la chaussure"
                 style="height:200px;width:100%;display:block"/>
        </a>

        <div class="card-body">
            <h4 class="card-title">
                <a href="{{ path('detail_chaussure',{'id':modeleChaussure.id}) }} " >{{ modeleChaussure.nom }} </a>
            </h4>
            <p class="card-text">
                description de la chaussure
            </p>
            <a href="{{ path('detail_chaussure',{'id':modeleChaussure.id}) }} " class="btn btn-secondary">en savoir plus!</a>

        </div>
    </div>

    {% endfor %}
        </div>
{% endblock %}